body{
	background-color: black;
}
nav{
	display: flex;
	justify-content: space-between;
	color: white;
	margin-left: 30px;
	font-size: 26px;
}
ul{
	display: flex;


}
ul li{
	list-style: none;
	margin-inline:30px;
	
}
btn button{
height:100px;
width:36px;
border:3px solid rgba(250, 10, 10, 0.801);
background-color:black;
color:white;
font-size:18px;
border-radius:20px;
margin-top: 20px;
margin-right: 20px;

}
.maindiv{
	display: flex;
	justify-content: space-between;
	color: white;
	margin-top: 30px;
}
nav h1{
	font-size: 40px;
	border-bottom:5px solid rgba(250, 10, 10, 0.801); 
	border-radius: 40px;
	color:rgba(250, 10, 10, 0.801);  ;
}
.maindiv .head{
	font-size: 50px;
margin-left: 40px;
}
.img {
	margin-right: 30px;
	width: 400;
}
.head button{
	width: 180px;
	height: 45px;
background-color: rgba(250, 10, 10, 0.801); 
border-radius: 7px;
color: white;
font-size: 25px;

}
.head button:hover {
	background-color: black;
	border: 3px solid rgba(250, 10, 10, 0.801); 
	cursor: pointer;
}